.calculatorButtons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 30px 30px 30px 30px 30px;

    gap: 10px;
}

.calculatorScreen {
    height: 50px;
    border: 1px solid gray;
    margin-bottom: 10px;
    background-color: white;
    transition: background-color 300ms ease-in;
}

.calculatorScreen:hover {
    background-color: rgb(198, 198, 198);
    border-color: rgb(82, 138, 221);
}

.calculator {
    width: 40%;
    margin: 0 auto;
}