.navItem {
    text-decoration: none;
    color: #cdcdd1;
    font-size: 18px;
    display: flex;
    gap: 10px;
    transition: font-size 300ms ease-in;
    transition: color 300ms ease-in;
}

.navItem:hover {
    color: #2374ab;
    font-size: 18.5px;
}

.active {
    color: #2374ab;
}

.ul {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    padding: 0px 36px;
    gap: 40px;
}

.li {
    display: flex;
    justify-content: space-between;
}

.icon {
    margin-right: 5px;
}

.hidden {
    display: none;
}

.dot {
    color: #2374ab;
    font-size: 12px;
}