.input {
    border: none;
    margin-bottom: 36px;
    padding-left: 12px;
    width: 80%;
}

.input:focus {
    border: none;
    outline: none;
}

.error {
    font-weight: 14px;
    color: rgb(255, 78, 78);
    padding: 4px 2px;
}