.container {
    background-color: #c6e3ff;
    width: 100%;
    height: 45%;
    border-radius: 16px;
    padding: 24px;
    display: flex;
    gap: 24px;
}

.placeAndTime {
    display: flex;
    justify-content: space-between;
}

.place {
    font-size: 22px;
    color: #24609b;
    font-weight: 600;
}

.time {
    color: #80abd5;
    font-weight: 300;
    display: flex;
    align-items: center;

}

.degrees {
    color: #24609b;
    font-size: 88px;
    text-align: center;
}

.subheading {
    color: #6b99c7;
    text-align: center;
    font-weight: 600;
}

.leftSide {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: space-between;
}

.degreesMain {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.secondaryDetails {
    display: flex;
    color: #6594c3;
    justify-content: space-between;
    font-size: 18px;
}

.value {
    margin-left: 8px;
}

.rightSide {
    width: 50%;
    height: 100%;
    padding: 24px;
    background-color: #ddeeff;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rightSideHeading {
    color: #3a71a8;
    font-size: 20px;
    font-weight: 600;
}

.partDayDegrees {
    display: flex;
    justify-content: space-around;
    color: #6290be;
}

.partDay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 14px;
}

.partDayPart {
    font-size: 14px;
    font-weight: 500;
}

.partDayDegrees {
    font-size: 18px;
    font-weight: 600;
}